@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-light: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-soft: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  color: var(--desaturated-red);
  overflow: hidden;
  background: var(--gradient-light);
}
.apparel-container {
  height: 100%;
  width: 100%;
  display: flex;

  position: relative;
}

/* Right Image */
.apparel-container .image-right {
  width: 42%;
  background: url(./images/hero-desktop.jpg) no-repeat top center/ cover;
}
/* Left Content */
.apparel-container .content-left {
  width: 58%;
  background: url(./images/bg-pattern-desktop.svg) no-repeat center center/cover;
  padding: 230px 220px 160px 165px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-wrap: wrap;
}
.content-left .text-container {
  max-width: 440px;
}
.logo-desktop {
  position: absolute;
  top: 65px;
  left: 165px;
}
.logo-mobile {
  padding: 30px 0px 25px;
  scale: 0.7;
  display: none;
}

.content-left h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 56px;
  letter-spacing: 12px;
  line-height: 1.1;
  margin-bottom: 16px;
  span {
    color: var(--dark-grayish-red);
    font-weight: 600;
  }
}
.content-left p {
  line-height: 1.55;
  margin-bottom: 34px;
}
.content-left input[type="text"] {
  padding: 16px 30px;
  border: 1px solid #d9cacd;
  border-radius: 50px;
  display: block;
  width: 100%;
}
input[type="text"]::placeholder {
  color: hsla(0, 36%, 70%, 0.516);
  font-weight: 300;
}
.content-left input[type="text"]:focus {
  outline-color: var(--soft-red);
}
form {
  position: relative;
}
.btn {
  background: var(--gradient-soft);
  border: none;
  border-radius: 50px;
  padding: 13px 36px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 10px 20px var(--desaturated-red);
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: #f9cdce;
}
.hidden {
  display: none;
}
.active {
  display: block;
}
form .error-icon {
  position: absolute;
  top: 12px;
  right: 100px;
}
form .toast-msg {
  color: var(--soft-red);
  font-size: 11px;
  position: absolute;
  top: 58px;
  left: 30px;
}

@media (max-width: 375px) {
  body {
    height: 100%;
    font-size: 15px;
    overflow: visible;
  }
  .apparel-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .apparel-container .image-right {
    width: 100%;
    height: 275px;
    order: 2;
    background-position: center 20%;
  }
  .apparel-container .content-left {
    width: 100%;
    order: 3;
    padding: 65px 30px;
    align-items: center;
    background: none;
  }
  .content-left .text-container {
    text-align: center;
  }
  .content-left h1 {
    font-size: 45px;
    line-height: 1;
    margin-top: 7px;
    margin-bottom: 19px;
  }
  .content-left p {
    margin-bottom: 40px;
  }
  .logo-mobile {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
}
